<html>
    <head>
        {% load static %}
        <style>
            .leftimg {
             float:left; 
             margin: 7px 7px 7px 0; 
            }
            .rightimg  {
             float: right;  
             margin: 7px 0 7px 7px; 
            }
            body { 
    margin: 5; 
   }
   .parent {
    margin: 0%; 
    background: #D3D3D3; 
    padding: 10px; 
   } 
   .child {
        border: 0px solid #D3D3D3; 
        padding: 0px; 
        margin: 2px; 
   }
    button {
        background: #4169E1; 
        color: #fff; 
        border: none; 
        padding: 2rem 2rem; 
        margin-bottom: 1rem;  
   }
           </style>  
    </head>
    <body style="background: #D3D3D3">
        <p style="text-align: center;"><img src="{%static 'fone.png'%}" alt="img" width="600"></p>
        <p><font face="garamond"><img src="{%static 'rustjpg.jpg'%}" width="510" height="320" class="leftimg">
            <font color=#FF4500><h1>Rust</font> <font color=#2F4F4F>— компьютерная игра в жанре симулятора выживания, была создана независимой британской студией Facepunch, возглавляемой c 2014 года Гарри Ньюмэном. Игра вышла на платформах Windows и macOS. Выпуск игры состоялся 8 февраля 2018 года.</h1></font>
            <h1><font color=#FF4500><big>Разработка</big></font></h1>
            <font color=#2F4F4F><h2>В 2014 году разрабатываемая игра была переведена на новый игровой движок. Версия на старом движке стала именоваться Legacy, а новая получила название Experimental.

                Новая версия игры глубоко отличается от Legacy, во многом благодаря новой версии движка Unity.
                
                Хотя большинство предметов, бывших в Legacy, перенесены в новую версию, многие из них были изменены. Появились и новые виды различного снаряжения. Также в новой версии была изменена система строительства — проработана система гниения построек и добавлен показатель устойчивости, что не позволяет игрокам строить огромные «замки до небес». К тому же добавлены двойные двери, люки, лестницы и ограждения.
                
                На многих игровых серверах карта процедурно-генерируемая. Это означает, что в игре отсутствует единая игровая карта для всех игровых серверов.
                <img src="{%static 'winter.jpg'%}" width="680" height="340" class="rightimg">
                Система  чертежей,  как  в  Legacy,  вносила  в  игру  элемент  high-end  контента. Были доступны базовые предметы для крафта, но для более серьёзных вещей требовались чертежи.
                
                В июле 2016 года была внедрена система опыта. От старой системы чертежей пришлось отказаться, но разработчики оставили возможность вернуться на версию с ней. Игрок получает опыт и уровень, и может открывать новые предметы для крафта.
                
                В ноябре 2016 года система опыта была заменена на систему компонентов. Игрокам стал доступен крафт всех вещей, но для некоторых предметов необходимы детали — компоненты.
                
                В 2017 году появилась система компонентов плюс чертежи.
                
                16 июля 2015 года разработчики добавили возможность покупать вещи с раскрасками на торговой площадке Steam и в магазине игры. Данная покупка не даёт никаких преимуществ, а всего лишь изменяет внешний вид предмета в игре.
                
                В октябре 2016 в Rust была добавлена поддержка Мастерской Steam, что позволило игрокам создавать свои раскраски для предметов.
                
                В сентябре 2017 в игру была возвращена система чертежей, однако разработчики скомбинировали её с системой компонентов. Отныне изначально для крафта доступны лишь базовые предметы, а для крафта более «продвинутых» необходимо их изучить.
                
            </h2></font>
            <font color=#2F4F4F>
                
                <h2><font color=#FF4500><big>Главная цель в игре Rust</big></font> – пережить вайп, отстроив надёжную базу, на которую ещё придётся нафармить немало ресурсов. Грубо говоря фарм ресурсов продолжается на протяжении всего вайпа – невозможно за пару дней добыть кучу ресурсов, которых хватит до конца даже 7-дневного вайпа. Хотя, на более поздних днях вайпа метод добычи ресурсов малость отличается. Если первые дни вайпа игроки ходят с кирками и хиленькими стволами, добывая ресурсы из каменных пород, попутно выбивая какие-то ресурсы из других игроков,<img src="{%static 'boom2.jpg'%}" width="700" height="410" class="leftimg"> которых удалось прибить во время фарма, то на более поздних днях вайпа добыча ресурсов преимущественно осуществляется при помощи <font color=#FF4500><big>Рейдов</big></font>.</h2>
            </font>
            <font color=#2F4F4F><h2><font color=#FF4500><big>Рейды в Расте</big></font> – это налёт на вражескую базу, цель которого — пробиться в лутовую комнату, найти шкаф и забрать все (или почти все) необходимые ресурсы. Как правило, такой налёт осуществляется несколькими игроками, которые предварительно устанавливают небольшую кибитку для рейда. В такой кибитке люди хранят всю необходимую взрывчатку, дополнительные наборы экипировки, а также спальные мешки для каждого участника налёта. Хотя, некоторые рейдят и при помощи инструментов, по типу копья и кирок, но такой рейд длится очень долго, особенно если дом больше, чем 3 на 3.
            </h2></font>
        </font></p>
        <p >
            <div class="parent">
            <div class="child">
            <a  href="{%url 'buildscan' %}"><button><h1><big>Прочность построек</big></h1></button></a>
        </p>
       <!-- <a href="{% url 'about_path'%}" >GO</a> --> 
    </body >
    
</html>
